@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Raleway:ital@1&display=swap');

:root {
    --cor-primária: black;
    --cor-secundaria: violet;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: 'Fira Code', monospace;
    --fonte-secundaria: 'Raleway', sans-serif;  
} 

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor-primária);
    color: blueviolet;
    box-sizing: border-box;
}
.cabecalho {
    padding: 2% 0 0 10%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {
    padding: 5% 10%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px 10px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.destaque-titulo {
    color: violet;
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo__objetivo {
    color: white;
    font-family: var(--fonte-primaria);
}
.apresentacao__conteudo__experiencia {
    color: white;
    font-family: var(--fonte-primaria);
}

.destaque-paragrafo {
    color: red;
}
.destaque-linguagens {
    color: rgb(0, 0, 0);
    box-shadow: 20px 20px 50px rgba(o, 0, 0, 0.5);
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background-color: blanchedalmond;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 100px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--fonte-primaria);
    border: 2px dotted violet;
}
.apresentacao__links__link:hover {
    background-color: cornflowerblue;
}
.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: black;
    background-color: blueviolet;
    text-align: center;
    padding: 24px;
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}
@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 8%;
        display: flex;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}